.main__ending {
  min-height: 341px;
  background-color: #222224;
  display: flex;
  align-items: center;
  justify-content: center;
  .main__ending-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .main__ending-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .main__ending-element_title {
        font-size: 20px;
        color: #fbfbfb;
        margin: 24px 0 16px;
      }
      .main__ending-element_text {
        font-size: 14px;
        font-weight: 300;
        color: #fbfbfb;
      }
    }
  }
}