@import "global.scss";

.main {
  .main__heading {
    background-color: #f1e4e6;
    .heading__elements {
      min-height: 764px;
      background: url(../img/head-bcg.png) no-repeat -65% bottom;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 5%;
      .heading__title-block {
        border-left: 12px solid #f16d7f;
        padding-left: 16px;
        color: #222222;
        margin-bottom: 120px;
        .heading__title {
          font-size: 48px;
          font-weight: 900;
          line-height: 60px;
        }
        .heading__text {
          font-size: 32px;
          font-weight: bold;
          line-height: 32px;
          .heading__text_colored {
            color: #f16d7f;
          }
        }
      }
    }

  }
  .product-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 65px;
    .people {
      width: 32%;
      height: 260px;
      margin-bottom: 30px;
    }
    .main__f-women {
      background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/f-women.png) no-repeat center center;
    }
    .main__f-men {
      background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/f-men.png) no-repeat center center;
    }
    .main__f-kids {
      background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/f-kids.png) no-repeat center center;
    }
    .main__accessories {
      width: 100%;
      height: 180px;
      background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/accesories.png) no-repeat center center;
    }
    .product-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .product-group__title {
        font-size: 16px;
        color: #ffffff;
      }
      .product-group__text {
        font-size: 24px;
        font-weight: bold;
        color: #f16d7f;
      }
    }
  }
  .fet-items-section {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .fet-items__title, .fet-items__description, .fet-items__browse-btn {
      text-align: center;
    }
    .fet-items__title {
      font-size: 30px;
      color: #222222;
    }
    .fet-items__description {
      font-size: 14px;
      color: #9f9f9f;
      line-height: 20px;
    }
    .fet-items {
      padding: 48px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .fet-item {
        width: 360px;
        height: 581px;
        background-color: #f8f8f8;
        margin-bottom: 30px;
        position: relative;
        .fet-item__images {
          width: 100%;
          height: 420px;
        }
        .fet-item__img1 {
          background: #f8f8f8 url(../img/fi-1.png) no-repeat center center;
        }
        .fet-item__img2 {
          background: #f7e4e2 url(../img/fi-2.png) no-repeat center center;
        }
        .fet-item__img3 {
          background: #f3eeef url(../img/fi-3.png) no-repeat center center;
        }
        .fet-item__img4 {
          background: #f3eded url(../img/fi-4.png) no-repeat center center;
        }
        .fet-item__img5 {
          background: #f3eded url(../img/fi-5.png) no-repeat center center;
        }
        .fet-item__img6 {
          background: #f3eded url(../img/fi-6.png) no-repeat center center;
        }
        .fet-item__info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          padding: 26px 18px 20px;
          height: 161px;
          .fet-item__name {
            font-size: 13px;
            color: black;
          }
          .fet-item__description {
            font-size: 14px;
            font-weight: 300;
            color: #5d5d5d;
          }
          .fet-item__price {
            font-size: 16px;
            color: #f16d7f;
          }

        }
        .fet-item__add-cart_area {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 420px;
          display: none;
          background-color: rgba(58, 56, 56, 0.86);
          .fet-item__add-cart_btn {
            width: 138px;
            height: 43px;
            background-color: transparent;
            color: white;
            border: 1px solid white;
            cursor: pointer;
            font-size: 24px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .add-cart__text{
              font-size: 14px;
            }
          }
        }
      }
      .fet-item:hover .fet-item__add-cart_area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .fet-items__browse-btn {
      width: 211px;
      height: 47px;
      font-size: 16px;
      color: #f26376;
      border: 1px solid #ff6a6a;
      background-color: white;
      cursor: pointer;
    }
    .fet-items__browse-btn:hover {
      background-color: #ff6a6a;
      color: white;
    }
  }
  @import "ending_black.scss";
}