@import "global.scss";

.main {
  .reg-heading {
    background-color: #f8f3f4;
    .reg-heading__title {
      font-size: 24px;
      color: #f16d7f;
      line-height: 148px;
    }
  }
  .reg-elements {
    display: flex;
    justify-content: space-between;
    padding: 64px 0 174px;
    .form-reg {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .reg-fieldset {
        border: none;
        .reg__title {
          font-size: 16px;
          font-weight: 300;
          color: #222222;
          margin: 10px 0;
        }
        .reg__inp-text {
          width: 359px;
          height: 44px;
          margin: 10px 0;
          padding-left: 17px;
          outline: none;
          border: 1px solid #a4a4a4;
        }
        .reg__inp-text::placeholder {
          color: #b1b1b1;
          font-size: 13px;
          font-weight: 300;
        }
      }
      .reg__radios{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 132px;
        margin: 20px 0;
        label {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        input {
          cursor: pointer;
        }
        span{
          display: inline-block;
          font-size: 11px;
          font-weight: 300;
          padding-left: 10px;
        }
      }
      .reg__description {
        font-size: 13px;
        font-weight: 300;
        color: #b1b1b1;
        width: 359px;
      }
      .reg__submit {
        background-color: #f16d7f;
        color: #ffffff;
        border: none;
        width: 166px;
        height: 49px;
        margin-top: 40px;
        cursor: pointer;
        .submit__arrow {
          display: inline-block;
          padding-left: 20px;
          font-size: 10px;
        }
      }
      .reg__submit:hover {
        background-color: #e05c6e;
      }
    }
  }
  .text-reg {
    font-size: 24px;
    font-weight: 300;
    .text-reg__title {
      font-weight: 300;
    }
    .text-reg__description {
      width: 652px;
      margin: 21px 0;
    }
    .text-reg__list {
      padding: 0;
      .text-reg__elem {
        margin: 8px 0;
        font-size: 16px;
        span {
          display: inline-block;
          font-size: 24px;
          padding-left: 23px;
        }
      }
    }
  }
}