@import "global.scss";

.main {
  .main__heading {
    background-color: #f1e4e6;
    .heading__elements {
      min-height: 764px;
      background-image: url(../img/head-bcg.png);
      background-repeat: no-repeat;
      background-position: left bottom;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 5%;
      .heading__title-block {
        border-left: 12px solid #f16d7f;
        padding-left: 16px;
        color: #222222;
        margin-bottom: 120px;
        .heading__title {
          font-size: 48px;
          font-weight: 900;
          line-height: 60px;
        }
        .heading__text {
          font-size: 32px;
          font-weight: bold;
          line-height: 32px;
          .heading__text_colored {
            color: #f16d7f;
          }
        }
      }
    }

  }
  .product-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 65px;
    a:hover {
      transform: scale(1.1,1.1);
    }
    .people {
      width: 32%;
      height: 260px;
      margin-bottom: 30px;
    }
    .main__f-women {
      background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/f-women.png) no-repeat center center;
    }
    .main__f-men {
      background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/f-men.png) no-repeat center center;
    }
    .main__f-kids {
      background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/f-kids.png) no-repeat center center;
    }
    .main__accessories {
      width: 100%;
      height: 180px;
      background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(../img/accesories.png) no-repeat center center;
    }
    .product-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .product-group__title {
        font-size: 16px;
        color: #ffffff;
        text-align: center;
      }
      .product-group__text {
        font-size: 24px;
        font-weight: bold;
        color: #f16d7f;
        text-align: center;
      }
    }
  }
  .fet-items-section {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .fet-items__title, .fet-items__description, .fet-items__browse-btn {
      text-align: center;
    }
    .fet-items__title {
      font-size: 30px;
      color: #222222;
    }
    .fet-items__description {
      font-size: 14px;
      color: #9f9f9f;
      line-height: 20px;
    }
    @import "fet-images.scss";
    .fet-items__browse-btn {
      width: 211px;
      height: 47px;
      font-size: 16px;
      color: #f26376;
      border: 1px solid #ff6a6a;
      background-color: white;
      cursor: pointer;
    }
    .fet-items__browse-btn:hover {
      background-color: #ff6a6a;
      color: white;
    }
  }
  @import "ending_black.scss";
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .main {
    .main__heading {
      .heading__elements {
        min-height: 368px;
        background-size: 184px;
        background-position: left 17% bottom;
        .heading__title-block {
          margin: 0;
          .heading__title {
            font-size: 44px;
          }
          .heading__text {
            font-size: 24px;
          }
        }
      }
    }
    .product-groups {
      .people {
        height: 167px;
      }
      .main__accessories {
        height: 116px;
      }
    }
    .fet-items-section {
      padding: 155px 0 65px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .main {
    .main__heading {
      .heading__elements {
        min-height: 363px;
        background: none;
        justify-content: center;
        padding: 0;
        .heading__title-block {
          margin: 0;
          .heading__title {
            line-height: 40px;
            font-size: 38px;
          }
          .heading__text {
            font-size: 20px;
            line-height: 24px;
          }
        }
      }
    }
    .product-groups {
      flex-direction: column;
      .people {
        width: 100%;
        height: 167px;
      }
      .main__accessories {
        height: 116px;
      }
    }
    .fet-items-section {
      padding: 64px 0 97px;
    }
  }
}
