@import "icon-fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400&display=swap");
@import "reset.css";
html {
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: black;
}
html body {
  font-family: Lato, sans-serif;
}
html body .container {
  margin: 0 auto;
  width: 1140px;
}

*:hover {
  transition: 0.3s;
}

@media only screen and (max-width: 1140px) {
  html body .container {
    width: 97%;
  }
}
.header {
  padding: 18px 0;
  background-color: #222222;
  min-height: 75px;
}
.header .header__elements {
  display: flex;
  justify-content: space-between;
}
.header .header__elements .header__search:hover, .header .header__elements .header__menu-button:hover, .header .header__elements .header__profile_img:hover, .header .header__elements .header__cart_img:hover {
  transform: scale(1.3, 1.3);
}
.header .header__elements .header__left {
  width: 100%;
  max-width: 111px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header .header__elements .header__left .header__search {
  border: none;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 27px;
  cursor: pointer;
}
.header .header__elements .header__right {
  width: 100%;
  max-width: 147px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /*.header__menu:not(:checked) {
    display: none;
  }*/
}
.header .header__elements .header__right #menu-checkbox {
  display: none;
}
.header .header__elements .header__right .header__menu-button {
  background-color: transparent;
  color: #e8e8e8;
  border: none;
  font-size: 23px;
  cursor: pointer;
}
.header .header__elements .header__right .header__profile_img {
  width: 29px;
  height: 29px;
}
.header .header__elements .header__right .header__cart {
  position: relative;
}
.header .header__elements .header__right .header__cart .header__cart_img {
  width: 32px;
  height: 29px;
}
.header .header__elements .header__right .header__cart .header__cart_circle {
  width: 19px;
  height: 19px;
  position: absolute;
  top: -9px;
  right: -10px;
  font-size: 12px;
  text-align: center;
  line-height: 19px;
  border-radius: 50%;
  background-color: #f16d7f;
  color: #ffffff;
}
.header .header__elements .header__right #menu-checkbox:not(:checked) ~ .header__menu {
  display: none;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu {
  position: absolute;
  top: 76px;
  right: calc(50vw - 570px - 232px);
  min-width: 232px;
  background-color: white;
  padding: 17px 17px 17px 34px;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__label-cross {
  align-self: flex-end;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__label-cross .menu__cross {
  color: #6f6e6e;
  font-size: 12px;
  background-color: transparent;
  border: none;
  margin-bottom: 9px;
  cursor: pointer;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 24px;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__block .menu__group_title {
  display: block;
  font-size: 14px;
  color: #f16d7f;
  cursor: pointer;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__block .menu__group {
  padding-left: 23px;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__block .menu__group li {
  margin: 16px 0;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__block .menu__group li .menu__link {
  font-size: 14px;
  color: #6f6e6e;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__group_title::-webkit-details-marker {
  display: none;
}

@media only screen and (max-width: 1372px) {
  .header .header__elements .header__right #menu-checkbox:checked ~ .header__menu {
    right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .header .header__elements {
    padding: 0 16px;
  }
}
@media only screen and (max-width: 375px) {
  .header .header__elements .header__right {
    max-width: 32px;
    align-items: center;
  }
  .header .header__elements .header__right .header__cart, .header .header__elements .header__right .header__profile {
    display: none;
  }
}
.footer {
  width: 100%;
  background-color: rgba(244, 244, 244, 0.7);
}
.footer .footer__upper {
  width: 100%;
  background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/ft-bcg.png) no-repeat center bottom;
}
.footer .footer__upper .upper__elements {
  min-height: 448px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__upper .upper__elements .flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222224;
  border: none;
}
.footer .footer__upper .upper__elements .flex-column .face__underscore {
  font-size: 20px;
  width: 100%;
  max-width: 360px;
  text-align: center;
  margin: 30px 0;
  line-height: normal;
}
.footer .footer__upper .upper__elements .flex-column .face__underscore .face__underscore_italic {
  font-style: italic;
}
.footer .footer__upper .upper__elements .flex-column .subscribe__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.footer .footer__upper .upper__elements .flex-column .subscribe__underscore {
  font-size: 18px;
  width: 100%;
  max-width: 279px;
  text-align: center;
}
.footer .footer__upper .upper__elements .flex-column .subscription__area {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 356px;
  margin-top: 32px;
}
.footer .footer__upper .upper__elements .flex-column .subscription__area label {
  width: 100%;
}
.footer .footer__upper .upper__elements .flex-column .subscription__area label .subscribe__input {
  background-color: #e1e1e1;
  border: none;
  outline: none;
  width: 100%;
  height: 49px;
  border-radius: 25px 0 0 25px;
  padding: 0 22px;
}
.footer .footer__upper .upper__elements .flex-column .subscription__area label .subscribe__input::placeholder {
  color: #222224;
  opacity: 0.67;
}
.footer .footer__upper .upper__elements .flex-column .subscription__area .subscribe__submit {
  border: none;
  outline: none;
  background-color: #f16d7f;
  color: white;
  text-align: center;
  width: 100%;
  max-width: 100px;
  height: 49px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}
.footer .footer__upper .upper__elements .flex-column .subscription__area .subscribe__submit:hover {
  background-color: #e05c6e;
}
.footer .footer__upper .upper__elements .form-subscription {
  width: 100%;
  max-width: 570px;
}
.footer .footer__lower {
  background-color: #222224;
  padding: 24px 0;
}
.footer .footer__lower .footer__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__lower .footer__elements .copyright {
  font-size: 16px;
  color: #fbfbfb;
  text-align: center;
}
.footer .footer__lower .footer__elements .socials {
  width: 100%;
  max-width: 154px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__lower .footer__elements .socials .social {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  width: 32px;
  height: 32px;
}
.footer .footer__lower .footer__elements .socials .social:hover {
  color: white;
  background-color: #f16d7f;
}

@media only screen and (max-width: 768px) {
  .footer .footer__upper {
    background-position: center, left 33% bottom -21%;
  }
  .footer .footer__upper .upper__elements {
    min-height: 693px;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 375px) {
  .footer .footer__upper {
    background-position: center, left 27% bottom;
  }
  .footer .footer__upper .upper__elements .flex-column .face__underscore {
    font-size: 18px;
    max-width: 343px;
  }
  .footer .footer__upper .upper__elements .flex-column .subscribe__underscore {
    font-size: 14px;
  }
  .footer .footer__lower {
    height: 143px;
    padding: 43px 0 9px;
  }
  .footer .footer__lower .footer__elements {
    height: 100%;
    flex-direction: column-reverse;
  }
}
.main .reg-heading {
  background-color: #f8f3f4;
}
.main .reg-heading .reg-heading__title {
  font-size: 24px;
  color: #f16d7f;
  line-height: 148px;
}
.main .reg-elements {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 174px;
}
.main .reg-elements .form-reg {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main .reg-elements .form-reg .reg-fieldset {
  border: none;
}
.main .reg-elements .form-reg .reg-fieldset .reg__title {
  font-size: 16px;
  font-weight: 300;
  color: #222222;
  margin: 10px 0;
}
.main .reg-elements .form-reg .reg-fieldset .reg__inp-text {
  width: 100%;
  max-width: 359px;
  height: 44px;
  margin: 10px 0;
  padding-left: 17px;
  outline: none;
  border: 1px solid #a4a4a4;
}
.main .reg-elements .form-reg .reg-fieldset .reg__inp-text::placeholder {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
}
.main .reg-elements .form-reg .reg__radios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  margin: 20px 0;
}
.main .reg-elements .form-reg .reg__radios label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main .reg-elements .form-reg .reg__radios input {
  cursor: pointer;
}
.main .reg-elements .form-reg .reg__radios span {
  display: inline-block;
  font-size: 11px;
  font-weight: 300;
  padding-left: 10px;
}
.main .reg-elements .form-reg .reg__description {
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  width: 100%;
  max-width: 359px;
}
.main .reg-elements .form-reg .reg__submit {
  background-color: #f16d7f;
  color: #ffffff;
  border: none;
  width: 166px;
  height: 49px;
  margin-top: 40px;
  cursor: pointer;
}
.main .reg-elements .form-reg .reg__submit .submit__arrow {
  display: inline-block;
  padding-left: 20px;
  font-size: 10px;
}
.main .reg-elements .form-reg .reg__submit:hover {
  background-color: #e05c6e;
}
.main .reg-elements .text-reg {
  width: 48%;
  font-size: 24px;
  font-weight: 300;
}
.main .reg-elements .text-reg .text-reg__title {
  font-weight: 300;
}
.main .reg-elements .text-reg .text-reg__description {
  width: 100%;
  max-width: 652px;
  margin: 21px 0;
}
.main .reg-elements .text-reg .text-reg__list {
  padding-left: 30px;
  list-style: outside url("./../img/bird.svg");
}
.main .reg-elements .text-reg .text-reg__list .text-reg__elem {
  margin: 8px 0;
  font-size: 24px;
  padding-left: 23px;
}

@media only screen and (max-width: 768px) {
  .main .reg-elements {
    padding: 40px 0 95px;
  }
}
@media only screen and (max-width: 736px) {
  .main .reg-heading .reg-heading__title {
    text-align: center;
  }
  .main .reg-elements {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .reg-elements .form-reg {
    margin-bottom: 40px;
    width: 100%;
  }
  .main .reg-elements .text-reg {
    width: 100%;
  }
}

/*# sourceMappingURL=style__registration.css.map */
