@import "global.scss";

.main {
  @import "new-arrivals.scss";
  .catalog  {
    padding: 51px 0 97px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .filter {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .filter__btn {
        color: black;
        background-color: transparent;
        border: none;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        margin-left: 16px;
        span {
          width: 10px;
          display: inline-block;
          font-size: 10px;
          padding-left: 10px;
        }
      }
      .filter-selectors {
        margin-right: 40%;
        width: 293px;
        display: flex;
        justify-content: space-between;
        select {
          border: none;
          outline: none;
          color: #6f6e6e;
          cursor: pointer;
          padding-right: 5px;
        }
      }
    }
    @import "fet-images.scss";
  }
  .pages {
    border: 1px solid #ebebeb;
    width: 283px;
    height: 43px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .pages__arrows {
      font-size: 14px;
      color: black;
    }
    .pages__arrows:hover {
      transform: scale(1.3,1.3);
    }
    .pages__number {
      font-size: 16px;
      font-weight: 300;
      color: #c4c4c4;
    }
    .pages__number:hover {
      color: #ef5b70;
    }
    .pages__number:nth-last-child(2) {
      position: relative;
    }
    .ellipsis {
      position: absolute;
      top: 0;
      left: -10px;
    }
    .pages__current {
      color: #ef5b70;
    }
  }
  @import "ending_black.scss";
}