@import "icon-fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400&display=swap");
@import "reset.css";
html {
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: black;
}
html body {
  font-family: Lato, sans-serif;
}
html body .container {
  margin: 0 auto;
  width: 1140px;
}

* {
  transition: 0.2s;
}

.header {
  padding: 18px 0;
  background-color: #222222;
  min-height: 75px;
}
.header .header__elements {
  display: flex;
  justify-content: space-between;
}
.header .header__elements .header__search:hover, .header .header__elements .header__menu-button:hover, .header .header__elements .header__profile_img:hover, .header .header__elements .header__cart_img:hover {
  transform: scale(1.3, 1.3);
}
.header .header__elements .header__left {
  width: 111px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header .header__elements .header__left .header__search {
  border: none;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 27px;
  cursor: pointer;
}
.header .header__elements .header__right {
  width: 147px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header .header__elements .header__right #menu-checkbox {
  display: none;
}
.header .header__elements .header__right .header__menu-button {
  background-color: transparent;
  color: #e8e8e8;
  border: none;
  font-size: 23px;
  cursor: pointer;
}
.header .header__elements .header__right .header__profile_img {
  width: 29px;
  height: 29px;
}
.header .header__elements .header__right .header__cart {
  position: relative;
}
.header .header__elements .header__right .header__cart .header__cart_img {
  width: 32px;
  height: 29px;
}
.header .header__elements .header__right .header__cart .header__cart_circle {
  width: 19px;
  height: 19px;
  position: absolute;
  top: -9px;
  right: -10px;
  font-size: 12px;
  text-align: center;
  line-height: 19px;
  border-radius: 50%;
  background-color: #f16d7f;
  color: #ffffff;
}
.header .header__elements .header__right .header__menu:not(:checked) {
  display: none;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu {
  position: absolute;
  top: 76px;
  left: calc(50% + 570px);
  min-height: 764px;
  min-width: 232px;
  background-color: white;
  padding: 17px 17px 17px 34px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__label-cross {
  align-self: flex-end;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__label-cross .menu__cross {
  color: #6f6e6e;
  font-size: 12px;
  background-color: transparent;
  border: none;
  margin-bottom: 9px;
  cursor: pointer;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 24px;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__block .menu__group_title {
  display: block;
  font-size: 14px;
  color: #f16d7f;
  cursor: pointer;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__block .menu__group {
  padding-left: 23px;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__block .menu__group .menu__link {
  font-size: 14px;
  line-height: 22px;
  color: #6f6e6e;
}
.header .header__elements .header__right #menu-checkbox:checked ~ .header__menu .menu__group_title::-webkit-details-marker {
  display: none;
}

.footer {
  background-color: rgba(244, 244, 244, 0.7);
}
.footer .footer__upper {
  background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../img/ft-bcg.png) no-repeat center center;
}
.footer .footer__upper .upper__elements {
  min-height: 448px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__upper .upper__elements .flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222224;
}
.footer .footer__upper .upper__elements .flex-column .face__underscore {
  font-size: 20px;
  width: 360px;
  text-align: center;
  margin: 30px 0;
  line-height: normal;
}
.footer .footer__upper .upper__elements .flex-column .face__underscore .face__underscore_italic {
  font-style: italic;
}
.footer .footer__upper .upper__elements .flex-column .subscribe__title {
  font-size: 24px;
  font-weight: bold;
}
.footer .footer__upper .upper__elements .flex-column .subscribe__underscore {
  font-size: 18px;
}
.footer .footer__upper .upper__elements .flex-column .subscription__form {
  display: flex;
  justify-content: center;
  min-width: 356px;
  margin-top: 32px;
}
.footer .footer__upper .upper__elements .flex-column .subscription__form .subscribe__input {
  background-color: #e1e1e1;
  border: none;
  outline: none;
  min-width: 256px;
  height: 49px;
  border-radius: 25px 0 0 25px;
  padding-left: 22px;
}
.footer .footer__upper .upper__elements .flex-column .subscription__form .subscribe__submit {
  border: none;
  outline: none;
  background-color: #f16d7f;
  color: white;
  text-align: center;
  width: 100px;
  height: 49px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}
.footer .footer__upper .upper__elements .flex-column .subscription__form .subscribe__submit:hover {
  background-color: #e05c6e;
}
.footer .footer__lower {
  background-color: #222224;
  padding: 24px 0;
}
.footer .footer__lower .footer__elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__lower .footer__elements .copyright {
  font-size: 16px;
  color: #fbfbfb;
}
.footer .footer__lower .footer__elements .socials {
  width: 154px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__lower .footer__elements .socials .social {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  width: 32px;
  height: 32px;
}
.footer .footer__lower .footer__elements .socials .social:hover {
  color: white;
  background-color: #f16d7f;
}

.main .new-arrivals {
  background-color: #f8f3f4;
}
.main .new-arrivals .new-arrivals__elements {
  min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .new-arrivals .new-arrivals__elements .new-arrivals__title {
  color: #f16d7f;
  font-size: 24px;
}
.main .new-arrivals .new-arrivals__elements .new-arrivals__links {
  width: 210px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
}
.main .new-arrivals .new-arrivals__elements .new-arrivals__links .new-arrivals__link {
  color: #636363;
}
.main .new-arrivals .new-arrivals__elements .new-arrivals__links .active {
  font-weight: bold;
  color: #f16d7f;
}
.main .catalog {
  padding: 51px 0 97px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main .catalog .filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main .catalog .filter .filter__btn {
  color: black;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 16px;
}
.main .catalog .filter .filter__btn .space {
  width: 10px;
  display: inline-block;
}
.main .catalog .filter .filter__btn::after {
  font-size: 10px;
}
.main .catalog .filter .filter-selectors {
  margin-right: 40%;
  width: 293px;
  display: flex;
  justify-content: space-between;
}
.main .catalog .filter .filter-selectors select {
  border: none;
  outline: none;
  color: #6f6e6e;
  cursor: pointer;
  padding-right: 5px;
}
.main .catalog .fet-items {
  padding: 48px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .catalog .fet-items .fet-item {
  width: 360px;
  height: 581px;
  background-color: #f8f8f8;
  margin-bottom: 30px;
  position: relative;
}
.main .catalog .fet-items .fet-item .fet-item__images {
  width: 100%;
  height: 420px;
}
.main .catalog .fet-items .fet-item .fet-item__img1 {
  background: #f8f8f8 url(../img/fi-1.png) no-repeat center center;
}
.main .catalog .fet-items .fet-item .fet-item__img2 {
  background: #f7e4e2 url(../img/fi-8.png) no-repeat center center;
}
.main .catalog .fet-items .fet-item .fet-item__img3 {
  background: #f3eeef url(../img/fi-3.png) no-repeat center center;
}
.main .catalog .fet-items .fet-item .fet-item__img4 {
  background: #f3eded url(../img/fi-4.png) no-repeat center center;
}
.main .catalog .fet-items .fet-item .fet-item__img5 {
  background: #f3eded url(../img/fi-9.png) no-repeat center center;
}
.main .catalog .fet-items .fet-item .fet-item__img6 {
  background: #f3eded url(../img/fi-11.png) no-repeat center center;
}
.main .catalog .fet-items .fet-item .fet-item__img7 {
  background: #f3eded url(../img/fi-7.png) no-repeat center center;
}
.main .catalog .fet-items .fet-item .fet-item__img8 {
  background: #f3eded url(../img/fi-10.png) no-repeat center center;
}
.main .catalog .fet-items .fet-item .fet-item__img9 {
  background: #f3eded url(../img/fi-12.png) no-repeat center center;
}
.main .catalog .fet-items .fet-item .fet-item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 26px 18px 20px;
  height: 161px;
}
.main .catalog .fet-items .fet-item .fet-item__info .fet-item__name {
  font-size: 13px;
  color: black;
}
.main .catalog .fet-items .fet-item .fet-item__info .fet-item__description {
  font-size: 14px;
  font-weight: 300;
  color: #5d5d5d;
}
.main .catalog .fet-items .fet-item .fet-item__info .fet-item__price {
  font-size: 16px;
  color: #f16d7f;
}
.main .catalog .fet-items .fet-item .fet-item__add-cart_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  display: none;
  background-color: rgba(58, 56, 56, 0.86);
}
.main .catalog .fet-items .fet-item .fet-item__add-cart_area .fet-item__add-cart_btn {
  width: 138px;
  height: 43px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main .catalog .fet-items .fet-item .fet-item__add-cart_area .fet-item__add-cart_btn .add-cart__text {
  font-size: 14px;
}
.main .catalog .fet-items .fet-item:hover .fet-item__add-cart_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .pages {
  border: 1px solid #ebebeb;
  width: 283px;
  height: 43px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .pages button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.main .pages .pages__arrows {
  font-size: 14px;
  color: black;
}
.main .pages .pages__number {
  font-size: 16px;
  font-weight: 300;
  color: #c4c4c4;
}
.main .pages .pages__number:hover {
  color: #ef5b70;
}
.main .pages .pages__number:nth-last-child(2) {
  position: relative;
}
.main .pages .ellipsis {
  position: absolute;
  top: 0;
  left: -10px;
}
.main .pages .pages__current {
  color: #ef5b70;
}
.main .main__ending {
  min-height: 341px;
  background-color: #222224;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main__ending .main__ending-elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .main__ending .main__ending-elements .main__ending-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main .main__ending .main__ending-elements .main__ending-element .main__ending-element_title {
  font-size: 20px;
  color: #fbfbfb;
  margin: 24px 0 16px;
}
.main .main__ending .main__ending-elements .main__ending-element .main__ending-element_text {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
}

/*# sourceMappingURL=style__catalog.css.map */
