@import "global.scss";

.main {
  @import "new-arrivals.scss";
  .product {
    background-color: #f7f7f7;
    .product__logo {
      min-height: 776px;
      background: url(../img/product.png) no-repeat center center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .product__turn-btn {
        width: 47px;
        height: 47px;
        border: none;
        outline: none;
        background-color: rgba(42, 42, 42, 0.15);
        font-size: 22px;
        text-align: center;
        line-height: 47px;
        color: black;
        cursor: pointer;
      }
      .product__turn-btn:hover {
        transform: scale(1.3,1.3);
      }
    }
  }
  .ordering {
    margin: -50px auto 0;
    background-color: white;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .ordering__title_1 {
      font-size: 14px;
      font-weight: 300;
      color: #f16d7f;
    }
    .ordering__line_red {
      background-color: #ef5b70;
      width: 63px;
      border: 2px solid #ef5b70;
    }
    .ordering__title_2 {
      font-size: 18px;
      font-weight: 300;
      color: #4d4d4d;
    }
    .ordering__description {
      width: 49%;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      color: #5e5e5e;
    }
    .ordering__price {
      font-size: 24px;
      font-weight: 300;
      color: #ef5b70;
    }
    .ordering__line_grey {
      background-color: #eaeaea;
      width: 641px;
      border: 1px solid #eaeaea;
    }
    .filter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-height: 114px;
      .filter__selectors {
        width: 371px;
        display: flex;
        justify-content: space-between;
        select {
          border: none;
          outline: none;
          color: #6f6e6e;
          cursor: pointer;
          padding-right: 5px;
        }
      }
      .fet-item__add-cart_btn {
        width: 211px;
        height: 48px;
        padding-right: 10%;
        background-color: transparent;
        color: #f26376;
        border: 1px solid #ff6a6a;
        cursor: pointer;
        font-size: 24px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .add-cart__text{
          font-size: 16px;
        }
      }
      .fet-item__add-cart_btn:hover {
        background-color: #ff6a6a;
        color: white;
      }
    }
  }
  @import "fet-images.scss";
}